<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>DEEPFAKE VIDEO FORENSICS</title>
</head>
<body>
    <body style="background:#eee url(https://static.techspot.com/images2/news/bigimage/2017/09/2017-09-29-image-9.jpg) fixed;">
    <h2 align="center" style="color:white; font-size:x-large">DEEPFAKE DETECTION</h2>
       
        <center style="position:center;">
            <form method="post" enctype=multipart/form-data>
                <input type="file" name="file" />
                <input type="submit" />

            </form>

            <p style="font-size: 40px;font-style:oblique;color:goldenrod;">
                {{message}}

            </p>
        </center>
    </body>
</html>